<!DOCTYPE html>
<html>
  <head>
    <title>MemberDemo</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <% if current_user %>
      哈囉, <%= current_user.name %>  |  <%= link_to '登出', logout_path, method: :delete %>
    <% end %>

    <section class="section">
      <div class="container">
        <% if flash.any? %>
          <% flash.each do |key, msg| %>
            <div class="notification is-<%= key %>">
              <button class="delete"></button>
              <%= msg %>
            </div>
          <% end %>
        <% end %>
        <%= yield %>
      </div>
    </section>
  </body>
</html>
